<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Fix\Fix</fullnamespace>
    <descriptive locale="en_US">
        <title>Patch Management Module</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Module de gestion de patch</title>
    </descriptive>
    <version>1.0</version>
    <author>
        <name>Gilles Bourgeat</name>
        <email>gbourgeat@openstudio.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.1.0</thelia>
    <stability>other</stability>
</module>
